body {
    font-family: 'Arial',monospace;
    min-height: 400px;
    background-image: url('https://static3.depositphotos.com/1000975/268/i/600/depositphotos_2683734-stock-photo-lots-of-dollar-bank-notes.jpg');
    background-color: #006400;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }